{% extends 'base.html.twig' %}
{% block title %}Bisca{% endblock %}
{% block javascripts %} 
      <script src="https://use.fontawesome.com/9ba28fe502.js"></script>
{% endblock %}
        
{% block body %}
<html>
	<body>
		  
	    <div class="container">
	
			<div class=row">
				<div class="col-md-2">
					<img width="150" class="center-block img-responsive img-circle" src="https://www.facebook.com/photo.php?fbid=10154331113171094&set=a.443789816093.232772.718271093&type=3&theater"/>
					
					 <br>
					 <a href="https://www.facebook.com/bisca.ilie/">Visit my facebookpage</a>
					  <div style="text-align:center; display:block;">
		              <p>email:bisca_ilie@yahoo.com</p>
		            </div>
				</div>
				<div class=col-md-9>
					<h1>Bine ai venit pe pagina mea</h1>
	        		
	        		
				</div>
			</div>        
	      	
	    </div><!-- /.container -->
          
    </body>
</html>
{% endblock %}

{% block stylesheets %}
<style>
		
	
</style>

{% endblock %}